<div>
    <p>From: <%= message.user %>
    </p>
    <p>Message: <%= message.text %>
    </p>
    <p>Sent: <%= message.added %>
    </p>
    <button onclick="window.location.href='/'">Return</button>
</div>