<h3>Enter new message</h3>

<form method="POST" action="/new">
    <label>Author's name</label><input type="text" name="author" placeholder="Tu nombre">
    <label>Message</label><input type="text" name="messageText" placeholder="Tu mensaje">
    <button type="submit">Submit</button>
</form>

<button onclick="window.location.href='/'">Return</button>